@model Category

<!-- este es un view de create IAresult del controler-->
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Crear Categoria</h2>
            <hr />

        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0 " ></label>
            <input asp-for="Name" class="form-control" placeholder="Romance"/><!-- esto hace que aparesca el nobre tal cual del model
                                                          no es necesario poner tipo typ=" text " ya que aqui toma la del modelo
            -->
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="DisplayOrder"  class="p-0"></label>
            <input asp-for="DisplayOrder" class="form-control" placeholder="23" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Crear</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">
                    Regresar a la lista
                </a>
            </div>
        </div>
       
        
    </div>
</form>